@font-face {
    font-family: lcdFont;
    src: url(ProtoThrottleLCD.woff2);
}

.lcd {
    font-family: lcdFont;
    font-size: 1rem;
}

.screen {
    border: 1px solid black;
    padding: 12px;
    border-radius: 10px;
    width: max-content;
}

.faint {
    color: #cccccc;
}

.md-typeset hr {
    border-bottom: 0.1rem solid #777;
}

.md-nav__item--nested {
    margin-top: 1.2em;
}